@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Bricolage+Grotesque:opsz,wght@12..96,300;12..96,400;12..96,500;12..96,700&family=DM+Mono:ital,wght@0,300;0,400;1,300&display=swap");
@import "tailwindcss";

@theme{
 --font-sans:"Syne",sans-serif;
 --font-serif:"Bricolage Grotesque",sans-serif;
 --font-mono:"DM Mono",monospace;

 --color-bg-terminal: #050505;
  
  --color-gray-dark: #121212;     
  --color-gray-medium: #262626;
  --color-gray-muted: #4a4a4a;
  
  --color-fg-primary: #f3f3f3;
  --color-fg-secondary: #8a8a8a;

  --text-xxs: 0.625rem; 
  --text-xxs--line-height: 1rem;
  --text-xs-mono: 0.75rem;
  --text-xs-mono--line-height: 1.2rem;
  --text-sm-body: 0.875rem;
  --text-sm-body--line-height: 1.5rem;

  --tracking-mono: 0.22em;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
}